/* Variables */
/* functions */
/*
===========
Global styling
===========
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  scroll-snap-type: y mandatory;
  overflow: auto;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  position: relative; }

html {
  font-size: 62.5%; }

/* Imports */
.swiper-container {
  height: calc(100vh - 16.5vh); }
  .swiper-container .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center; }
    .swiper-container .swiper-wrapper .swiper-slide img {
      width: 100%;
      object-fit: cover; }
    .swiper-container .swiper-wrapper .swiper-slide h2 {
      font-size: 5rem;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      position: absolute;
      top: 5%;
      right: -100%;
      animation: toLeft 1s cubic-bezier(0.23, 1, 0.32, 1) forwards 4s; }
      @media (max-width: 1100px) {
        .swiper-container .swiper-wrapper .swiper-slide h2 {
          font-size: 4rem;
          padding-left: 2rem; } }
  .swiper-container .swiper-wrapper .swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), transparent); }
  .swiper-container .swiper-pagination-bullet {
    width: 100px;
    height: 1px;
    text-align: center;
    line-height: 20px;
    color: transparent;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px;
    padding: 2px 0 !important; }
  .swiper-container .swiper-pagination-bullet-active {
    color: transparent;
    background: #ffffff;
    border-radius: 0px;
    height: 2px; }

@keyframes toLeft {
  to {
    right: 5%; } }

/* Variables */
/* flex function */
/* burger lines animation */
@keyframes firstLine {
  to {
    transform: translateY(1.5rem) rotateZ(45deg); } }

@keyframes secondLine {
  to {
    opacity: 0; } }

@keyframes thirdLine {
  to {
    transform: translateY(-1.5rem) rotateZ(-45deg); } }

header {
  background: black;
  padding: 2rem 5rem; }
  header nav {
    min-height: 10vh;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative; }
    @media (max-width: 1100px) {
      header nav .burger-menu {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        display: block;
        width: 5rem;
        height: 3.5rem;
        z-index: 2;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between; }
        header nav .burger-menu span {
          display: inline-block;
          width: 100%;
          height: 3px;
          background: white; }
        header nav .burger-menu .line1.active {
          animation: firstLine 0.5s ease forwards; }
        header nav .burger-menu .line2.active {
          animation: secondLine 0.5s ease forwards; }
        header nav .burger-menu .line3.active {
          animation: thirdLine 0.5s ease forwards; } }
    header nav .logo {
      flex: 0 0 50rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between; }
      header nav .logo .logo-name svg path {
        fill: white; }
      @media (max-width: 1100px) {
        header nav .logo {
          flex: 1 0 50rem;
          justify-content: flex-start; } }

@media (max-width: 768px) and (min-width: 320px) {
  header nav .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-65%, -50%); } }
      header nav .logo .logo-img {
        transform: translateX(-50%);
        animation: breatheEffect 3s ease-in-out alternate infinite 3s;
        z-index: 1;
        max-width: 80px;
        height: 80px; }
        @media (max-width: 1100px) {
          header nav .logo .logo-img {
            width: 50px;
            height: 50px;
            transform: translateX(calc(100vw / 6)); } }

@media (max-width: 768px) and (min-width: 320px) {
  header nav .logo .logo-img {
    display: none; } }
        header nav .logo .logo-img img {
          object-fit: contain;
          width: 100%;
          height: auto; }
    header nav ul {
      list-style: none;
      flex: 0 0 50rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      @media (max-width: 1100px) {
        header nav ul {
          display: none;
          transition: all 0.5s ease; }
          header nav ul .history-dropdown .sub-menu {
            display: none; } }
      header nav ul li {
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0); }
        header nav ul li:hover span {
          width: 100%; }
        header nav ul li a {
          text-decoration: none;
          color: white;
          font-size: 1.8rem; }
          @media (max-width: 1100px) {
            header nav ul li a {
              font-size: 3rem;
              letter-spacing: 0.5rem; } }
      header nav ul span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 1px;
        background: white;
        transition: 0.2s ease-in-out; }
    header nav ul.active {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: black;
      z-index: 2;
      flex-direction: column; }

.history-dropdown .sub-menu {
  text-align: center;
  height: 15rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  position: absolute;
  top: 2.5rem;
  left: 0;
  z-index: 2;
  background: black;
  border: 1px solid white;
  visibility: hidden;
  overflow: hidden; }
  .history-dropdown .sub-menu li {
    width: 100%;
    transition: background 0.2s ease; }
  .history-dropdown .sub-menu li:hover {
    background: white; }
    .history-dropdown .sub-menu li:hover a {
      color: black; }

.history-dropdown:hover .sub-menu {
  visibility: visible;
  animation: openMenu 0.5s ease forwards; }

@keyframes breatheEffect {
  from {
    filter: drop-shadow(0 0 0 #ec9c00); }
  to {
    filter: drop-shadow(0 0 10px #ec9c00); } }

@keyframes openMenu {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 15rem; } }

.cover {
  min-height: 100vh;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  clip-path: circle(100%);
  animation: fadeOutCircle 0.5s ease forwards 3s; }

.logo #bull {
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  animation: moveRight 1s ease forwards; }
  .logo #bull #logo {
    fill-opacity: 0;
    animation: fillColor 0.3s linear forwards 2s; }
    .logo #bull #logo path:nth-child(1) {
      stroke-dasharray: 771;
      stroke-dashoffset: 771;
      animation: draw 2s ease forwards; }
    .logo #bull #logo path:nth-child(2) {
      stroke-dasharray: 266;
      stroke-dashoffset: 266;
      animation: draw 2s ease forwards; }
    .logo #bull #logo path:nth-child(3) {
      stroke-dasharray: 1268;
      stroke-dashoffset: 1268;
      animation: draw 2s ease forwards; }
    .logo #bull #logo path:nth-child(4) {
      stroke-dasharray: 55;
      stroke-dashoffset: 55;
      animation: draw 2s ease forwards; }
    .logo #bull #logo path:nth-child(5) {
      stroke-dasharray: 470;
      stroke-dashoffset: 470;
      animation: draw 2s ease forwards; }
    .logo #bull #logo path:nth-child(6) {
      stroke-dasharray: 193;
      stroke-dashoffset: 193;
      animation: draw 2s ease forwards; }

@keyframes toRight {
  to {
    left: 100%; } }

@keyframes fadeOutCircle {
  to {
    clip-path: circle(0% at 50% 50%); } }

@keyframes fillColor {
  0% {
    fill-opacity: 1; }
  50% {
    fill-opacity: 0; }
  100% {
    fill-opacity: 1; } }

@keyframes draw {
  to {
    stroke-dashoffset: 0; } }

@keyframes moveRight {
  to {
    left: 50%; } }

.history {
  scroll-snap-align: start;
  min-height: 100vh; }
  .history .first-paragraph {
    min-height: 100vh;
    position: relative; }
    @media (max-width: 1100px) {
      .history .first-paragraph img {
        display: none; } }
    .history .first-paragraph .title {
      font-size: 4rem;
      color: black;
      padding: 2rem 0;
      text-align: center;
      margin: 2rem 0; }
    .history .first-paragraph .container {
      width: 100%;
      min-height: 100vh;
      padding: 2rem 5rem;
      margin-top: 5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 0.5fr 1fr;
      position: relative; }
      @media (max-width: 1100px) {
        .history .first-paragraph .container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; } }
      .history .first-paragraph .container .description-col-1 {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: start;
        margin-left: 10rem; }
        @media (max-width: 1100px) {
          .history .first-paragraph .container .description-col-1 {
            margin-left: 0; }
            .history .first-paragraph .container .description-col-1 h3 {
              display: none; } }
        .history .first-paragraph .container .description-col-1 h3 {
          float: left;
          font-size: 1.8rem;
          padding: 0.8rem 0;
          font-style: italic;
          font-weight: 600; }
        .history .first-paragraph .container .description-col-1 h1 {
          font-size: 5rem;
          letter-spacing: 0.1rem;
          text-align: right;
          position: relative; }
          @media (max-width: 1100px) {
            .history .first-paragraph .container .description-col-1 h1 {
              text-align: center;
              font-size: 4rem; } }
          .history .first-paragraph .container .description-col-1 h1:after {
            content: "";
            width: 15rem;
            height: 0.5px;
            background-color: black;
            position: absolute;
            bottom: 5%;
            right: 0; }
            @media (max-width: 1100px) {
              .history .first-paragraph .container .description-col-1 h1:after {
                display: none; } }
        .history .first-paragraph .container .description-col-1 p {
          font-size: 1.4rem;
          word-spacing: 0.2rem;
          letter-spacing: 0.05rem;
          line-height: 3rem;
          padding: 2rem 0; }
      .history .first-paragraph .container .description-col-2 {
        grid-column: 2/3;
        grid-row: 3/4;
        align-self: end;
        margin-right: 10rem; }
        @media (max-width: 1100px) {
          .history .first-paragraph .container .description-col-2 {
            margin-right: 0; }
            .history .first-paragraph .container .description-col-2 h3 {
              display: none; } }
        .history .first-paragraph .container .description-col-2 h3 {
          float: right;
          font-size: 1.8rem;
          padding: 0.8rem 0rem;
          font-style: italic;
          font-weight: 600; }
        .history .first-paragraph .container .description-col-2 h1 {
          font-size: 5rem;
          letter-spacing: 0.1rem;
          text-align: left;
          position: relative; }
          @media (max-width: 1100px) {
            .history .first-paragraph .container .description-col-2 h1 {
              text-align: center;
              font-size: 4rem; } }
          .history .first-paragraph .container .description-col-2 h1:after {
            content: "";
            width: 15rem;
            height: 0.5px;
            background-color: black;
            position: absolute;
            bottom: 0;
            left: 0; }
            @media (max-width: 1100px) {
              .history .first-paragraph .container .description-col-2 h1:after {
                display: none; } }
        .history .first-paragraph .container .description-col-2 p {
          font-size: 1.4rem;
          word-spacing: 0.2rem;
          letter-spacing: 0.05rem;
          line-height: 3rem;
          padding: 2rem 0; }
    .history .first-paragraph .first {
      position: absolute;
      right: -50%;
      top: -10%; }
    .history .first-paragraph .second {
      width: 800px;
      position: absolute;
      bottom: 0%;
      left: -50%; }
  .history .second-paragraph {
    min-height: 100vh; }
    .history .second-paragraph .container .third {
      position: absolute;
      top: 5%;
      right: -30%;
      width: 300px; }

.vehicles {
  min-height: 100vh;
  margin-top: 3rem;
  position: relative;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .vehicles::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background: black;
    z-index: -1; }
    @media (max-width: 1100px) {
      .vehicles::after {
        display: none; } }
  .vehicles .next {
    border: none;
    padding: 1rem 3rem;
    background: #b0b0dd;
    font-size: 2rem;
    cursor: pointer; }
  .vehicles .content {
    width: 80%;
    padding: 1rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    z-index: 3; }
    .vehicles .content .card {
      margin: 3rem 2rem;
      padding: 1rem;
      height: 40rem;
      width: 30rem;
      cursor: pointer;
      border-radius: 1rem;
      animation: scaleDown 0.1s linear forwards;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 10px 10px 10px #c5c5c5; }
      .vehicles .content .card .description-window {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 2;
        transition: 0.5s ease-in-out;
        color: white;
        text-align: center;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-around; }
        .vehicles .content .card .description-window h1 {
          font-size: 3rem;
          flex: 0.8; }
        .vehicles .content .card .description-window h6 {
          font-size: 1.4rem;
          margin-bottom: 3rem; }
        .vehicles .content .card .description-window p {
          font-size: 1.6rem;
          flex: 1; }
        .vehicles .content .card .description-window h2 {
          flex: 0.5; }
          .vehicles .content .card .description-window h2 a {
            text-decoration: none;
            color: #ec9c00;
            text-transform: uppercase;
            font-size: 2rem;
            padding: 1rem; }
            .vehicles .content .card .description-window h2 a:hover {
              color: #ffbf40;
              text-decoration: underline; }
      .vehicles .content .card img {
        max-width: 100%;
        object-fit: scale-down; }
      .vehicles .content .card:hover {
        animation: scaleUp 0.1s linear forwards; }
        .vehicles .content .card:hover .description-window {
          top: 0%; }
  .vehicles .popup {
    display: none; }
  .vehicles .popup.active {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #999999;
    overflow: hidden;
    z-index: 3; }
  .vehicles .popup.active::after {
    content: "X";
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    text-align: center;
    color: #fff;
    background: #000000;
    border-radius: 50%;
    font-size: 1.6rem;
    opacity: 0.5;
    padding: 1rem;
    cursor: pointer;
    z-index: 3; }

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff; }

@keyframes zoomIn {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }

@keyframes zoomOut {
  from {
    transform: scale(1.2); }
  to {
    transform: scale(1); } }

@keyframes scaleUp {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }

@keyframes scaleDown {
  from {
    transform: scale(1.2); }
  to {
    transform: scale(1); } }

@keyframes moveUp {
  to {
    top: 50%; } }

.footer {
  min-height: 20vh;
  background: black;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .footer .footer-wrapper {
    width: 100%;
    display: flex; }
    @media (max-width: 1100px) {
      .footer .footer-wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; } }
  .footer ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%; }
    .footer ul li {
      text-align: center;
      margin-left: 2rem;
      position: relative;
      border-bottom: 1px solid rgba(255, 255, 255, 0); }
      .footer ul li:hover span {
        width: 100%; }
      .footer ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.8rem; }
        .footer ul li a .fab {
          padding: 1rem;
          font-size: 20px;
          color: white;
          transition: all 0.5s ease; }
          .footer ul li a .fab:hover.fa-facebook {
            color: #3b5998; }
          .footer ul li a .fab:hover.fa-instagram {
            background: linear-gradient(225deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; }
          .footer ul li a .fab:hover.fa-twitter {
            color: #1da1f2; }
          .footer ul li a .fab .fa-instagram::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, orangered, purple);
            opacity: 0;
            transition: opacity 0.4s;
            z-index: -1; }
            .footer ul li a .fab .fa-instagram::before:hover::before {
              opacity: 1; }
    .footer ul span {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 1px;
      background: white;
      transition: 0.2s ease-in-out; }
    .footer ul h4 {
      font-size: 1.6rem;
      font-weight: 400;
      color: white; }
  .footer .wrapper-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8rem; }
    @media (max-width: 1100px) {
      .footer .wrapper-left {
        padding: 0;
        align-items: center; }
        .footer .wrapper-left ul {
          display: none; }
        .footer .wrapper-left .copyright {
          margin-top: 0 !important; }
          .footer .wrapper-left .copyright p {
            text-align: center;
            font-size: calc(0.5rem + 1vw) !important; } }
    .footer .wrapper-left .copyright {
      margin-top: 2rem;
      padding: 1rem 2rem; }
      .footer .wrapper-left .copyright p {
        font-size: 1.4rem;
        color: white; }
  .footer .wrapper-right {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    @media (max-width: 1100px) {
      .footer .wrapper-right {
        width: 100%;
        padding: 1rem 0;
        margin-bottom: 1rem;
        order: -1; }
        .footer .wrapper-right ul {
          justify-content: space-between; } }

.contact-form {
  min-height: calc(100vh - 16vh);
  padding: 2rem 10rem;
  margin: 5rem 0; }
  .contact-form .content {
    padding: 0 3rem; }
    .contact-form .content .col-1 {
      grid-column: 1/2;
      width: 100%; }
      .contact-form .content .col-1 h1 {
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0;
        letter-spacing: 0.2rem; }
    .contact-form .content .col-2 {
      grid-column: 2/3; }
      .contact-form .content .col-2 form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 2rem; }
        .contact-form .content .col-2 form h1 {
          font-size: 3rem;
          text-align: center;
          padding: 2rem 0;
          letter-spacing: 0.2rem; }
        .contact-form .content .col-2 form input {
          width: 40rem;
          padding: 2rem 1rem;
          margin-bottom: 2rem;
          border: none;
          border-bottom: 1px solid black;
          font-size: 1.6rem;
          transition: background 0.2s ease; }
          .contact-form .content .col-2 form input:hover {
            background: #00000010; }
        .contact-form .content .col-2 form textarea {
          width: 40rem;
          border: 1px solid black;
          margin: 2rem 0;
          padding: 1rem;
          font-size: 1.6rem;
          font-family: open sans-serif;
          transition: background 0.2s ease; }
        .contact-form .content .col-2 form #submit {
          padding: 1rem 3rem;
          width: 40rem;
          font-size: 1.6rem;
          letter-spacing: 0.1rem;
          border: none;
          background: #0000002c;
          transition: background 0.2s ease; }
          .contact-form .content .col-2 form #submit:hover {
            cursor: pointer; }

table {
  border-spacing: 2rem;
  width: 100%;
  border-collapse: collapse; }
  table th,
  table td {
    padding: 2rem 1rem;
    text-align: left;
    width: 20%; }
  table th {
    font-size: 1.66rem;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    background: black;
    color: white;
    padding: 1rem; }
  table td:nth-child(1) {
    font-size: 1.4rem;
    text-transform: uppercase; }
  table td:nth-child(2) {
    font-size: 1.2rem; }
  table td:nth-child(3) {
    font-size: 1.2rem; }
  table tr:nth-child(odd) {
    background: #0000002c; }

.grid {
  display: grid;
  grid-template-columns: 55rem auto; }
