@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  min-height: 100vh;
  width: 100%;
  background: black;
  @include flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  clip-path: circle(100%);
  animation: fadeOutCircle 0.5s ease forwards 3s;
  //animation: toRight 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) forwards 3s;
}

.logo {
  #bull {
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50%, -50%);
    animation: moveRight 1s ease forwards;
    #logo {
      fill-opacity: 0;
      animation: fillColor 0.3s linear forwards 2s;
      path:nth-child(1) {
        stroke-dasharray: 771;
        stroke-dashoffset: 771;
        animation: draw 2s ease forwards;
      }
      path:nth-child(2) {
        stroke-dasharray: 266;
        stroke-dashoffset: 266;
        animation: draw 2s ease forwards;
      }
      path:nth-child(3) {
        stroke-dasharray: 1268;
        stroke-dashoffset: 1268;
        animation: draw 2s ease forwards;
      }
      path:nth-child(4) {
        stroke-dasharray: 55;
        stroke-dashoffset: 55;
        animation: draw 2s ease forwards;
      }
      path:nth-child(5) {
        stroke-dasharray: 470;
        stroke-dashoffset: 470;
        animation: draw 2s ease forwards;
      }
      path:nth-child(6) {
        stroke-dasharray: 193;
        stroke-dashoffset: 193;
        animation: draw 2s ease forwards;
      }
    }
  }
}

@keyframes toRight {
  to {
    left: 100%;
  }
}
@keyframes fadeOutCircle {
  to {
    clip-path: circle(0% at 48% 10%);
  }
}

@keyframes fillColor {
  0% {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes moveRight {
  to {
    left: 50%;
  }
}
