@import "../dist/include-media";

/* Variables */
$nav-color: black;

/* flex function */
@mixin flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* burger lines animation */
@keyframes firstLine {
  to {
    transform: translateY(1.5rem) rotateZ(45deg);
  }
}
@keyframes secondLine {
  to {
    opacity: 0;
  }
}
@keyframes thirdLine {
  to {
    transform: translateY(-1.5rem) rotateZ(-45deg);
  }
}


header {
  background: $nav-color;
  padding: 2rem 5rem;
  @include media("<=tablet", ">=phone") {
  }
  nav {
    min-height: 10vh;
    background: $nav-color;
    @include flex();
    position: relative;
    @include media("<=1100px") {
      .burger-menu {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        display: block;
        width: 5rem;
        height: 3.5rem;
        z-index: 2;
        cursor: pointer;
        @include flex();
        flex-direction: column;
        justify-content: space-between;
        span {
          display: inline-block;
          width: 100%;
          height: 3px;
          background: white;
        }
        .line1.active {
          animation: firstLine 0.5s ease forwards;
        }
        .line2.active {
          animation: secondLine 0.5s ease forwards;
        }
        .line3.active {
          animation: thirdLine 0.5s ease forwards;
        }
      }
    }
    .logo {
      flex: 0 0 50rem;
      .logo-name {
        svg {
          path {
            fill: white;
          }
        }
      }

      @include flex;
      justify-content: space-between;

      @include media("<=1100px") {
        flex: 1 0 50rem;
        justify-content: flex-start;
      }
      @include media("<=tablet", ">=phone") {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-65%, -50%);
      }

      .logo-img {
        transform: translateX(-50%);
        animation: breatheEffect 3s ease-in-out alternate infinite 3s;
        z-index: 1;
        max-width: 80px;
        height: 80px;

        @include media("<=1100px") {
          width: 50px;
          height: 50px;
          transform: translateX(calc(100vw / 6));
        }
        @include media("<=tablet", ">=phone") {
          display: none;
        }
        img {
          object-fit: contain;
          width: 100%;
          height: auto;
        }
      }
    }

    ul {
      list-style: none;
      flex: 0 0 50rem;
      @include flex();

      @include media("<=1100px") {
        display: none;
        transition: all 0.5s ease;
        .history-dropdown{
           .sub-menu{
            display: none;
          }
        }
       
      }
      li {
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        &:hover span {
          width: 100%;
        }
        a {
          text-decoration: none;
          color: white;
          font-size: 1.8rem;
          @include media("<=1100px") {
            font-size: 3rem;
            letter-spacing: 0.5rem;
          }
        }
      }
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 1px;
        background: white;
        transition: 0.2s ease-in-out;
      }
    }
    ul.active{
      @include flex();
      position: fixed; 
      top: 0; 
      right: 0; 
      bottom: 0; 
      left: 0;
      background: black;
      z-index: 2;
      flex-direction: column;
    }
  }
}
.history-dropdown {
  .sub-menu {
    text-align: center;
    height: 15rem;
    padding: 1rem 0;
    @include flex();
    //flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 2.5rem;
    left: 0;
    z-index: 2;
    background: black;
    border: 1px solid white;
    visibility: hidden;
    overflow: hidden;
    li {
      width: 100%;
      transition: background 0.2s ease;
    }
    li:hover {
      background: white;
      a {
        color: black;
      }
    }
  }
  &:hover .sub-menu {
    visibility: visible;
    animation: openMenu 0.5s ease forwards;
  }
}

@keyframes breatheEffect {
  from {
    filter: drop-shadow(0 0 0 #ec9c00);
  }
  to {
    filter: drop-shadow(0 0 10px #ec9c00);
  }
}

@keyframes openMenu {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 15rem;
  }
}
