/* Variables */
$nav-color: black;

@mixin flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  background: $nav-color;
  padding: 1rem 2rem;
  position: relative;
  nav {
    background: $nav-color;
    @include flex();
    min-height: 10vh;
    .logo {
      flex: 1 1 40rem;
      margin: 0 0rem;
      font-size: 3rem;
      @include flex;
      justify-content: space-between;
      .logo-name {
        margin-left: 2rem;
      }
      .logo-img {
        transform: translate(-50%, 0%);
        img {
          width: 180px;
          height: 200px;
        }
      }
    }

    ul {
      list-style: none;
      flex: 1 1 20rem;
      @include flex();
      li {
        a {
          text-decoration: none;
          color: white;
          font-size: 1.6rem;
        }
      }
    }
    h1 {
      font-size: 1rem;
    }
  }
}
