/* Variables */
$cover-color: black;

/* functions */
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
===========
Global styling
===========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
  }
}

html {
  font-size: 62.5%;
}

/* Imports */

@import "cover";
@import "home";
